@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, monospace;
}

* {
  border-radius: 0 !important;
}

::selection {
  background: black;
  color: white;
}

hr {
  border: none;
  border-top: 3px solid black;
}
