# Alchemy RPC key for blockchain interactions
ALCHEMY_KEY=

# Farcaster API key for miniapp domain verification & metadata
FARCASTER_API_KEY=

# Neynar API key for Farcaster cast & user data
NEYNAR_API_KEY=
